<div class='center'>
    <div class='spacing'>
    <img src={{imageUrl}} alt='uh oh :('>
    <h3>Your drink is {{drinkName}}!!</h3>
    </div>

    <div class='spacing'>
        <button *ngIf='!showTopping'(click)='toggleTopping()' mat-button>Give me a random topping</button>
        <h4 *ngIf='showTopping'>Your random topping is {{randomTopping}}!!</h4>
    </div>

    <div class='spacing'>
        <button *ngIf='!showSweetness' (click)='toggleSweetness()'mat-button>Give me a random sweetness</button>
        <h4 *ngIf='showSweetness'>Congrats? Your sweetness is {{randomSweetness}}</h4>
    </div>
</div>
