#listOfStores{
    display: grid;
    grid-template-columns: auto auto auto;  
}

store-card {
    padding: 20px;
}

#spinnerContainer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
}

@media (max-width: 600px) {
    #listOfStores {
        display: grid;
        grid-template-columns: 1fr;
    }
}
