body {
    background-image: radial-gradient(#212121 20%, transparent 20%),
    radial-gradient(#212121 20%, transparent 20%);
    background-color: #f7cfb4;
    background-position: 0 0, 50px 50px;
    background-size: 100px 100px;
    height: 100%;
    width: 100%;
}

#happyLemonPic {
    border-radius: 20px;
    display: block;
    border-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    font-family: 'Noto Sans JP', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 2px;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #9155F8;
    color: white;
}

  #heightSpacer {
      display: inline-block;
      height: 50px;
  }

 